body {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  padding: 30px;
  min-height: 100px;
}

main {
  background-color: rgb(70, 70, 70);
  min-height: 700px;
  margin: auto;
  width: 1400px;
}

footer {
  background-color: orange;
  min-height: 150px;
}


h1,h2 {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 38px;
}

p {
  margin: 0;
  text-align: left;
  padding: 0 50px;
  color: white;
  font-size: 36px;
}

.error {
  color: red;
}

nav {
  padding-top: 10px;
  margin: auto;
  height: 60px;
  max-width: 600px;
}

nav ul {
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav ul li {
  width: 100%;
  text-align: center;
  list-style: none;
  color: rgb(70, 70, 70);
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(70, 70, 70);
  font-size: 30px;
  height: 60px;
  line-height: 60px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: grey;
  text-decoration: underline;
  border: 1px solid grey;
}

.active {
  color: red;
  pointer-events: none;
  cursor: default;
}

.articles {
  display: grid;
  grid-template-columns: min-content 1fr;
  min-height: 700px;
}

.articles__nav {
  background-color: white;
  margin: 0;
  min-width: 400px;
  height: auto;
}

.articles__nav h2 {
  text-align: left;
  margin: 0;
  font-size: 36px;
  color: rgb(70, 70, 70)
}

.articles__nav ul {
  display: block;
  margin: 0;
}

.articles__nav ul li {
  text-align: right;
}

.articles__nav ul li a {
  height: auto;
  text-align: left;
  padding-bottom: 3px;
  line-height: 30px;
  font-size: 26px;
}

.articles__nav ul li a:hover,
.articles__nav ul li a:focus,
.articles__nav ul li a:active {
  color: red;
  text-decoration: underline;
  border: none;
}

.articles__nav ul li span {
  padding-right: 10px;
}

hr {
  margin: 0;
}

.articles__article {
  padding: 5px;
}

.articles__text {
  font-size: 26px;
  text-align: left;
  margin: 5px 30px;
  padding: 15px 40px;
  color: rgb(70, 70, 70);
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.articles__date {
  margin: 10px 0;
  text-align: right;
  padding-right: 35px;
  font-size: 28px;
  height: 40px;
}
