body {
  margin: 0;
  height: 100vmin;
  position: relative;
  background-color: rgb(70, 70, 70);
}

form {
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: calc(50% - 250px);
  width: 500px;
  height: 150px;
}

p {
  text-align: right;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

input {
  display: inline-block;
  width: 375px;
}

form input[type="submit"] {
  margin: 14px 10px 10px 10px;
  width: 460px;
  height: 40px;
  padding: 7px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus,
form input[type="submit"]:active {
  border-color: red;
  color: red;
  cursor: pointer;
}