body {
  margin: auto;
  padding: 0;
}

header {
  background-color: lightblue;
  min-height: 100px;
  padding: 20px;
}

main {
  background-color: rgb(70, 70, 70);
  background-size: 100%;
  min-height: 700px;
  width: 1400px;
  margin: auto;
  padding: 20px 10px;
}

footer {
  min-height: 100px;
  background-color: orange; 
  padding: 20px;
}

h1,h2 {
  text-align: center;
  color: white;
  font-size: 52px;
  margin: 20px;
}

p {
  text-align: center;
  color: white;
  font-size: 40px;
}

table {
  margin: 10px;
  margin-top: 0;
  border-collapse: collapse;
  background-color: white;
}


table tr th,
table tr td {
  border: 1px solid black;
  padding: 7px 12px;
  font-size: 24px;
}

.error, .success {
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  text-align: left;
  margin: 0 10px;
  font-size: 28px;
  color: red;
  padding: 10px 30px;
}

.success {
  color: green;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  color: black;
}

a:hover,
a:focus,
a:active {
  color: red;
}

form {
  padding: 0 20px 0 10px;
  color: white;
  font-size: 24px;
}

form input,
form textarea {
  height: 24px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
}

form textarea {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  min-height: 400px;
  resize: none;
}

form input[type="submit"] {
  height: 50px;
  padding: 5px 20px;
  font-size: 24px;
}

form input[type="submit"]:hover,
form input[type="submit"]:focus,
form input[type="submit"]:active,
.button:hover,
.button:focus,
.button:active {
  border-color: white;
  color: red;
  cursor: pointer;
}